{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>

<!-- Display messages -->
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}


<form method="POST">
    {% csrf_token %}
    {{ registerform.as_p }}
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}

